$height: 100vh;
$general-padding: 64px;
$normal-size-font: 2vw;
$normal-size-font-static: 21px;
$large-size-font: 3vw;

%layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    content: '';
}

@keyframes invert{
    0% {
        background-color: black;
        color: white;
        text-decoration-thickness: 0px;
    };

    100% {
        background-color: white;
        color: black;
        transform: scale(1.05);
        text-decoration-thickness: 5px;
    };
}

@keyframes uninvert {
    0% {
        background-color: white;
        color: black;
        text-decoration-thickness: 5px;
    };

    100% {
        background-color: black;
        color: white;
        transform: scale(1);
        text-decoration-thickness: 0px;
    };
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: $height;

    font-family: Bahnschrift, sans-serif;
    color: white;

    overflow-x: hidden;
}

footer {
    padding: $general-padding;
    padding-left: 0px;
}

h1 {
    background-color: black;
    padding: 24px;
}

.minitext {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}


#main-row {
    background: inherit;
}

.glass {
    height: $height;
    padding: 0;

    position: flex;

    background: inherit;
    border-right: 2px solid white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    
    ul {
        list-style-type: none;
    }

}

.glass::before {
    
    @extend %layer;

    background: inherit;
    background-size: $height;

    filter: blur(10px);
}

.glass::after {

    @extend %layer;

    background-color: rgba(255, 255, 255, 0.375);
}

a {
    padding: 10px;

    text-decoration: none;
    font-size: $normal-size-font;
    background-color: black;
    color: white;

    animation: uninvert 120ms;
}

a:hover {

    text-decoration: none;
    background-color: white;
    color: black;

    animation: invert 125ms;
}

#navbar {
    height: 100vh;
    position: fixed;
    padding: $general-padding;
    padding-top: 2vh;

    display: flex;
    flex-direction: column;

    div {
        margin-block: 32px;
    }

    a {
        font-weight: bold;
        font-stretch: expanded;
        padding: 16px;
        font-size: $large-size-font;
    }

    a:hover {
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-thickness: 5px;
    }

    a:hover:before {
        content: '> '
    }

    @media (max-width: 768px) {
        a {
            font-size: 32px;
        }
    }

}

@media (max-width: 768px) {
    #navbar {
        padding-left: 48px;
    }

    a {
        font-size: $normal-size-font-static;
        padding: 12px;
    }

    #name {
        display: none;
    }
}

#main {
    padding: $general-padding;
    padding-left: 48px;
}

#titlebar {
    padding: 25px;
    margin: 0;
}

#content {
    margin: 0;
    padding: $general-padding / 2;

    background-color: black;
}

#logo-container {
    padding: $general-padding;
    padding-block-end: 0;
}

#logo {
    width: inherit;
}

#name {
    font-size: 16px;
    font-weight: bolder;
}